<section>
    <div class="container border-top py-5 my-3 g-0">
    <h2 class="title-letter_all mb-4 text-primary"><span class="title-letter_first">V</span>oici quelques plats les plus appréciés</h2>
        <div class="row">
            <div class="home-galleries_zoom col-12 col-sm-12 col-md m-1 g-0 d-flex justify-content-center align-items-center">
                <img class="w-100 home-galleries_photos" src="{{ asset('build/images/Matouille-de-Savoie.png') }}" alt="Matouille de savoie">
                <div class="home-galleries_text px-2 text-primary">
                    Matouille de Savoie</div> 
            </div>
            <div class="home-galleries_zoom col-12 col-sm-12 col-md m-1 g-0 d-flex justify-content-center align-items-center">
                <img class="w-100 home-galleries_photos" src="{{ asset('build/images/poulet-sauce-onctueuse.png') }}" alt="poularde parfum pied-de-lion">
                <div class="home-galleries_text px-2 text-primary">
                    Poularde parfum pied-de-lion</div>
            </div>
             <div class="home-galleries_zoom col-12 col-sm-12 col-md m-1 g-0 d-flex justify-content-center align-items-center">
                <img class="w-100 home-galleries_photos" src="{{ asset('build/images/omble-chevalier-pinot-noir.png') }}" alt="Omble chevalier pinot noir">
                <div class="home-galleries_text px-2 text-primary">
                    Omble chevalier</div>
            </div>
        </div>
        <div class="home-galleries_reservation text-center m-2 d-flex flex-column justify-content-center align-items-center text-primary">Savourez nos plats les plus incontournable du Quai Antique concocté par le Chef et sa brigade.
        <a href="{{ path('app_reservations')}}"><div class="btn_design me-md-2 m-2">Réserver</div></a>
        </div> 
        <div class="row"> 
            <div class="home-galleries_zoom col-12 col-sm-12 col-md m-1 g-0 d-flex justify-content-center align-items-center">
                <img class="w-100 home-galleries_photos" src="{{ asset('build/images/soupe-oignon-01.png') }}" alt="soupe à l'oignon">
                <div class="home-galleries_text px-2 text-primary">
                    Soupe à l'oignon</div>
            </div>
            <div class="home-galleries_zoom col-12 col-sm-12 col-md m-1 g-0 d-flex justify-content-center align-items-center">
                <img class="w-100 home-galleries_photos" src="{{ asset('build/images/desert-vanilla-crumble-01.png') }}" alt="crumble vanille-tonka">
                <div class="home-galleries_text px-2 text-primary">
                    Crumble vanille-tonka</div>
            </div>
             <div class="home-galleries_zoom col-12 col-sm-12 col-md m-1 g-0 d-flex justify-content-center align-items-center">
                <img class="w-100 home-galleries_photos" src="{{ asset('build/images/foie-gras-viande-canard-sauce-douce.png') }}" alt="Lingot de foie gras de canard">
                <div class="home-galleries_text px-2 text-primary">
                    Lingot de foie gras de canard</div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        
        
        
        <div class="col"></div>
        <div class="col text-back_style text-primary">Consultez la barre de navigation en haut de page pour accéder aux différents menus du <span class="text-back_home text-secondary">Quai Antique<span></div>
        
       
    </div>
</section>

