{% extends 'base.html.twig' %}

{% block title %}Nos menus - Quai Antique{% endblock %}

{% block body %}
<section>
<div class="border-bottom"></div>
    <div class="row g-sm-0 g-0">
        <div class="col-xl col-lg col-md "></div>
        <div class="col-xl-2 col-lg-1 col-md"></div>
        <div class="col col-xl col-lg col-md py-4"></div>
        <div class="col-xl-4 col-lg-3 col-md-4 col-sm-4 col-4"><div class="container--dishes-bigtitle text-center mt-5 mb-3 pe-xl-5 pe-sm-1 text-primary">Nos menus</div></div>
        <div class="col col-xl col-lg col-sm col py-4"></div>
        <div class="col-xl-2 col-lg-2 col-md col-sm col mt-5 py-5 "></div> 
        <div class="col col-xl col-lg col-md col-sm col "></div>
    </div>
    <div class="row mb-5">
        <div class="col"></div>
        <div class="col-xl-10 border-bottom"></div> 
        <div class="col"></div>
    </div>
{# start A la carte #}

{% for categorieMenu in categorieMenus %}
    <div class="row mb-2 mt-5 text-primary reveal">
        <div class="col"></div>
        <div class="col-xl-4 col-md-4 ms-sm-5 ms-5"><h3 class ="container--category-fonts container--categorie-firstletter">{{ categorieMenu.name }}</h3></div>
        <div class="col-xl-6 col-md-6 "></div>
    </div>
    {% for menu in menus %}
    {% if menu.categorieMenus is same as(categorieMenu) %}
    <div class="row mb-1 reveal">
        <div class="col"></div>
        <div class="col-xl-5 col-md-5 col-sm-5 col-5 text-primary container--dishes-title">{{ menu.title }}</div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row dishes mb-3 reveal">
        <div class="col"></div>
        <div class="col-xl-5 col-md-5 col-sm-5 col-5 container--dishes-description text-primary">{{ menu.description }}</div>
        <div class="col text-secondary header--menu-font">{{ menu.price }}€</div>
        <div class="col"></div>
    </div>
    {% endif %}
    {% endfor %}
{% endfor %}
{# End A la carte #}

    <div class="row mb-5">
        <div class="col"></div>
        <div class="col-xl-10"></div>
        <div class="col"></div>
    </div>
        <div class="container text-center">
        <div class="row">
            <div class="col">
            <a href="{{ path('app_dishes')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-left text-secondary" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>
                </a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
            <a href="{{ path('app_menus')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-up text-secondary" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
                <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>
                </a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col ">
                <a href="{{ path('app_chef')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-right text-secondary" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
                </a>
            </div>
        </div>
    </div>
   <div class="row mt-5">
        <div class="col"></div>
        <div class="container--foot-text col text-primary">Pour revenir à la page d'accueil, cliquez sur le logo en pied ou en haut de page du <span class="container--foot-back text-secondary"> Quai Antique<span></div>
    </div>
</section>
{% endblock %}
