{% extends 'base.html.twig' %}

{% block title %}Galeries - Quai Antique{% endblock %}

{% block body %}
<section>
    <div class="container border-top py-3 my-3 g-0"> 
        <h2 class="container-gal_title mb-3 text-primary category-title_letter">Galeries</h2>
    </div>
<div class="container mb-5">
    <div class="row g-0">
            <div class="card col rounded-0 border-0 p-2">
            <img src="{{ asset('build/images/Matouille-de-Savoie.png') }}" class="card-img w-100 rounded-0" alt="...">
                <div class="card-img-overlay card-text_title card-text_descr text-center">
                    <h5 class="card-title text-primary">Matouille de Savoie</h5>
                    <p class="card-text text-primary">Matouille de Savoie, fondu de poireau, carottes glacées</p>
                </div>
            </div>
            <div class="card col rounded-0 border-0 p-2">
                <img src="{{ asset('build/images/Matouille-de-Savoie.png') }}" class="card-img w-100 rounded-0" alt="...">
                    <div class="card-img-overlay card-text_title card-text_descr text-center">
                        <h5 class="card-title text-primary">Matouille de Savoie</h5>
                        <p class="card-text text-primary">Matouille de Savoie, fondu de poireau, carottes glacées</p>
                    </div>
            </div>
            <div class="card col rounded-0 border-0 p-2">
                <img src="{{ asset('build/images/Matouille-de-Savoie.png') }}" class="card-img w-100 rounded-0" alt="...">
                    <div class="card-img-overlay card-text_title card-text_descr text-center">
                        <h5 class="card-title text-primary">Matouille de Savoie</h5>
                        <p class="card-text text-primary">Matouille de Savoie, fondu de poireau, carottes glacées</p>
                    </div>
            </div>
    </div>
</div>
<div class="container my-2 g-0"></div>
    {# <div class="container g-0 mb-5 text-primary">
        <div class="row align-items-center"> 
            <div class="col"></div>
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12 col-chef_text">
            <h5>Réinventer la gastronomie en montagne</h5> 
            Le Chef <strong>Arnaud Michant</strong> aime le challenge et ne recule devant rien. 
            Faire du <strong>Quai Antique</strong> le restaurant gastronomique de Chambéry n’est pas une mince affaire. 
            Le mélange authentique et raffiné est ce qui séduit notre clientèle. </div>
            <div class="col"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 g-0 container-pics_hidd">
                <img class="w-100 col-pics_zoom" src="{{ asset('build/images/chef-cuisinier-02.png') }}" alt="">
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="container border-top my-2 g-0">
    
    <div class="container g-0 mt-5 mb-5 text-primary">
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 g-0 container-pics_hidd">
                <img class="w-100 col-pics_zoom" src="{{ asset('build/images/cuisinier-02.png') }}" alt="">
            </div>
            <div class="col"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-chef_text">
            <h5>Le souci du détail</h5>
                Que ce soit pour des plats de spécialités savoyardes ou bien des desserts, chaque détail compte. 
                La brigade se plie en quatre pour respecter au grain de sel près les promesses que le restaurant met en avant. 
                </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="container border-top my-2 g-0">

    <div class="container g-0 mt-3 mb-5 text-primary">
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-chef_text">
            <h5>Diversité dans vos assiettes</h5>
            Le <strong>Quai Antique</strong> vous propose un voyage depuis l’assiette. 
            Passez de la montagne à la mer, de la mer à la ferme, de la ferme à la ville. 
            Vos papilles seront vous faire revivre des lieux ou des odeurs qui vous feront 
            fermez les yeux en guise de moments savourés.</div>
            <div class="col"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 g-0 container-pics_hidd">
                <img class="w-100 col-pics_zoom" src="{{ asset('build/images/cuisinier-01.png') }}" alt="">
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="container border-top my-2 g-0">

    <div class="container g-0 mt-3 mb-5 text-primary">
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 g-0 container-pics_hidd">
                <img class="w-100 col-pics_zoom" src="{{ asset('build/images/cuisinier-03.png') }}" alt="">
            </div>
            <div class="col"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-chef_text">
            <h5>La brigade toujours dévouée</h5>
            Chaque corps de métiers dans une cuisine à son importance, 
            surtout pour varier les spécialités au <strong>Quai Antique</strong>. 
            Du second de cuisine aux commis, les tâches et responsabilités dans la cuisine sont maîtrisés. 
            Une équipe soudée et dévouée pour vous raconter des saveurs.</div>
            <div class="col"></div>
        </div>
    </div>

<div class="container border-top my-2 g-0">

<div class="container g-0 mt-3 mb-5 text-primary">
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-chef_text">
            <h5>Accompagnez vos plats</h5>
            Comment un plat parfait peut-il être servis sans un accompagnement digne de l'établissement. 
            Notre sommelier et notre bartender vous suggèrerons les vins et cocktails les plus adaptés à vos plats.</div>
            <div class="col"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 g-0 container-pics_hidd">
                <img class="w-100 col-pics_zoom" src="{{ asset('build/images/cocktail-fresh.png') }}" alt="">
            </div>
            <div class="col"></div>
        </div>
    </div>

<div class="container border-top my-2 g-0">

    <div class="container g-0 mt-3 mb-5 text-primary">
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 g-0 container-pics_hidd">
                <img class="w-100 col-pics_zoom" src="{{ asset('build/images/services.png') }}" alt="">
            </div>
            <div class="col"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-chef_text">
            <h5>Pour vous servir</h5>
            La qualité du service et son organisation au sein du <strong>Quai Antique</strong> 
            seront vous mettre à vos aises. L’écoute et les conseils seront vous satisfaire.</div>
            <div class="col"></div>
        </div>
    </div> #}

    


{# <div class="container mt-5 text-primary">
<div class="title-gallery_style text-center mb-4">Travailler avec des produits locaux</div>
    <div class="row">
        <div class="col-xl-4 container-pics_hidd">
            <img class="w-100 col-pics_zoom" src="{{ asset('build/images/herd-cows.png') }}" alt="Une vache">
        </div>
        <div class="col-xl-4 container-pics_hidd">
            <img class="w-100 col-pics_zoom" src="{{ asset('build/images/beautiful-lake.png') }}" alt="Lac et montagnes">
        </div>
        <div class="col-xl-4 container-pics_hidd">
            <img class="w-100 col-pics_zoom" src="{{ asset('build/images/vignes-chambery.png') }}" alt="Des vignes">
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl-4 container-pics_hidd mt-3">
            <p class="col-chef_text text-center text-primary">
            L’élevage bovine de la haut Savoie est un plus pour notre restaurant. 
            Le Chef tient à choisir les produits les mieux traités dans son environnement. </p>
        </div>
        <div class="col-xl-4 container-pics_hidd mt-3">
            <p class="col-chef_text text-center text-primary">
            La vie pullule également dans les rivières de haute Savoie. 
            Appréciez les produits d’eau douce en plus des produits de la mer. 
            Une pêche plus contrôlée et respectueuse de la biodiversité.</p>
        </div>
        <div class="col-xl-4 container-pics_hidd mt-3">
           <p class="col-chef_text text-center text-primary">
           Un vin issu des vendanges local est une bénédiction pour nos accompagnements. 
           Les producteurs de vins se réjouissent de nos collaborations. 
           Faire découvrir la qualité de la haute Savoie est un objectif atteint pour nous.</p>
        </div>
    </div>
</div> #}
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col">
            <a href="{{path('app_brigades')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-left text-secondary" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>
                </a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
            <a href="{{path('app_galeries')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-up text-secondary" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
                <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>
                </a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col "></div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col text-back_style text-primary">Pour revenir à la page d'accueil, cliquez sur le logo en pied ou en haut de page du <span class="text-back_home text-secondary">Quai Antique<span></div>
    </div>
</section>
{% endblock %}
