{% extends 'base.html.twig' %}

{% block title %}Galeries - Quai Antique{% endblock %}

{% block body %}
<section>
    <div class="container border-top py-3 my-3 g-0"> </div>
{% for categorie in categories %}
    
<div class="container mb-2">
    <div class="row g-1 reveal">
<div class="text-primary category-title_fonts ps-3 category-title_letter">{{ categorie.name }}</div>
    {% for image in images %}
        {% if image.categorie is same as(categorie) %}
            <div class="card card-z h-100 col-md-12 col-sm-12 col-lg-4 col-xl-4 rounded-0 border-0 mb-5">
                <div class="card-body">
                    <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('galeries')  }}" class="card-img w-100 rounded-0" alt="...">
                    <h5 class="card-title text-primary title-card_size mt-1">{{ image.title }}</h5>
                    <p class="card-text text-primary header-cover_text">{{ image.description }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %} 
    </div>
   {% endfor %}




<div class="container mt-5 mb-5 "></div>

    <div class="container text-center mt-5">
        <div class="row">
            <div class="col">
            <a href="{{path('app_brigades')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-left text-secondary" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>
                </a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
            <a href="{{path('app_galeries')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-up text-secondary" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
                <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>
                </a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col ">
            <a href="{{ path('app_reservations')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-right text-secondary" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col text-back_style text-primary">Pour revenir à la page d'accueil, cliquez sur le logo en pied ou en haut de page du <span class="text-back_home text-secondary">Quai Antique<span></div>
    </div>
</section>
{% endblock %}
