{% extends 'base.html.twig' %}

{% block title %}Galeries - Quai Antique{% endblock %}

{% block body %}
<section>
    <div class="container border-top py-3 my-3 g-0"> 
        <h2 class="container-gal_title mb-3 text-primary"><span class="span-gal_letter">G</span>aleries</h2>
    </div>
    <div class="container g-0 mb-5 text-primary">
        <div class="row align-items-center"> 
            <div class="col"></div>
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12 col-chef_text">
            <h5>Lorem ipsum</h5>
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Nemo magni in facere eius quod
            tempora odio ducimus sunt minus obcaecati 
            eum laboriosam consequatur quos blanditiis.</div>
            <div class="col"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 g-0 container-pics_hidd">
                <img class="w-100 col-pics_zoom" src="{{ asset('build/images/chef-cuisinier-02.png') }}" alt="">
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="container border-top my-2 g-0">
    
    <div class="container g-0 mt-3 mb-5 text-primary">
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 g-0 container-pics_hidd">
                <img class="w-100 col-pics_zoom" src="{{ asset('build/images/cuisinier-02.png') }}" alt="">
            </div>
            <div class="col"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-chef_text">
            <h5>Lorem ipsum</h5>
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Nemo magni in facere eius quod
            tempora odio ducimus sunt minus obcaecati 
            eum laboriosam consequatur quos blanditiis.</div>
            <div class="col"></div>
        </div>
    </div>

    <div class="container border-top my-2 g-0">

    <div class="container g-0 mt-3 mb-5 text-primary">
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-chef_text">
            <h5>Lorem ipsum</h5>
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Nemo magni in facere eius quod
            tempora odio ducimus sunt minus obcaecati 
            eum laboriosam consequatur quos blanditiis.</div>
            <div class="col"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 g-0 container-pics_hidd">
                <img class="w-100 col-pics_zoom" src="{{ asset('build/images/cuisinier-01.png') }}" alt="">
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="container border-top my-2 g-0">

    <div class="container g-0 mt-3 mb-5 text-primary">
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 g-0 container-pics_hidd">
                <img class="w-100 col-pics_zoom" src="{{ asset('build/images/cuisinier-03.png') }}" alt="">
            </div>
            <div class="col"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-chef_text">
            <h5>Lorem ipsum</h5>
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Nemo magni in facere eius quod
            tempora odio ducimus sunt minus obcaecati 
            eum laboriosam consequatur quos blanditiis.</div>
            <div class="col"></div>
        </div>
    </div>

<div class="container border-top my-2 g-0">

<div class="container g-0 mt-3 mb-5 text-primary">
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-chef_text">
            <h5>Lorem ipsum</h5>
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Nemo magni in facere eius quod
            tempora odio ducimus sunt minus obcaecati 
            eum laboriosam consequatur quos blanditiis.</div>
            <div class="col"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 g-0 container-pics_hidd">
                <img class="w-100 col-pics_zoom" src="{{ asset('build/images/cocktail-fresh.png') }}" alt="">
            </div>
            <div class="col"></div>
        </div>
    </div>

<div class="container border-top my-2 g-0">

    <div class="container g-0 mt-3 mb-5 text-primary">
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 g-0 container-pics_hidd">
                <img class="w-100 col-pics_zoom" src="{{ asset('build/images/services.png') }}" alt="">
            </div>
            <div class="col"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-chef_text">
            <h5>Lorem ipsum</h5>
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Nemo magni in facere eius quod
            tempora odio ducimus sunt minus obcaecati 
            eum laboriosam consequatur quos blanditiis.</div>
            <div class="col"></div>
        </div>
    </div>

    <div class="container border-top my-2 g-0">


<div class="container mt-5 text-primary">
<div class="title-gallery_style text-center mb-4">Travailler avec des produits locaux</div>
    <div class="row">
        <div class="col-xl-4 container-pics_hidd">
            <img class="w-100 col-pics_zoom" src="{{ asset('build/images/herd-cows.png') }}" alt="Une vache">
        </div>
        <div class="col-xl-4 container-pics_hidd">
            <img class="w-100 col-pics_zoom" src="{{ asset('build/images/beautiful-lake.png') }}" alt="Lac et montagnes">
        </div>
        <div class="col-xl-4 container-pics_hidd">
            <img class="w-100 col-pics_zoom" src="{{ asset('build/images/vignes-chambery.png') }}" alt="Des vignes">
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl-4 container-pics_hidd mt-3">
            <p class="col-chef_text text-center text-primary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo illum laborum quos eveniet nesciunt. Eius ipsum rem distinctio recusandae porro magnam cupiditate dolorum doloribus neque. Explicabo dignissimos possimus culpa dolor.</p>
        </div>
        <div class="col-xl-4 container-pics_hidd mt-3">
            <p class="col-chef_text text-center text-primary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo illum laborum quos eveniet nesciunt. Eius ipsum rem distinctio recusandae porro magnam cupiditate dolorum doloribus neque. Explicabo dignissimos possimus culpa dolor.</p>
        </div>
        <div class="col-xl-4 container-pics_hidd mt-3">
           <p class="col-chef_text text-center text-primary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo illum laborum quos eveniet nesciunt. Eius ipsum rem distinctio recusandae porro magnam cupiditate dolorum doloribus neque. Explicabo dignissimos possimus culpa dolor.</p>
        </div>
    </div>
</div>

    <div class="container text-center mt-5">
        <div class="row">
            <div class="col">
            <a href="{{path('app_brigades')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-left dishe-title_icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>
                </a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
            <a href="{{path('app_galeries')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-up dishe-title_icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
                <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>
                </a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col "></div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col text-back_style text-primary">Pour revenir à la page d'accueil, cliquez sur le logo en pied ou en haut de page du <span class="text-back_home text-secondary">Quai Antique<span></div>
    </div>
</section>
{% endblock %}
