{% extends 'base.html.twig' %}

{% block title %}Réservations - Quai Antique{% endblock %}

{% block body %}
<div class="row">
        <div class="col"></div>
        <div class="col">
        <h1 class="mb-3 text-center form-title_style mt-3 text-primary">Réservation</h1>

            {{ form_start(reservationForm) }}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                    {{ message }}
                    </div>
                {% endfor %}
                {% for restaurant in restaurants %}
                    <div class="text-danger text-center form-title_style mb-3">Nombre de place disponible ce jour : {{ restaurant.maxGuests }}</div>
                {% endfor %}
                <div class="form-title_style text-primary">Nom de la réservation</div>
                {{ form_row(reservationForm.name) }}
                <div class="form-title_style text-primary">Nombre d'invité(e)s</div>
                <div class="form-size_allergy text-primary fst-italic">* minimum 2 / maximum 8 personnes</div>
                {{ form_row(reservationForm.numberGuests) }}
                <div class="form-title_style text-primary">Choisissez une date</div>
                {{ form_row(reservationForm.date) }}
                <div class="form-title_style text-primary">Choisissez une heure</div>
                {{ form_row(reservationForm.hours) }}
                <div class="form-title_style text-primary">En cas d'allergies, veuillez le précisez</div>
                {{ form_row(reservationForm.allergies) }} 
                <div class="form-size_allergy text-primary fst-italic">* Si aucune allergies, veuillez écrire : aucune</div>
                
              
                <button type="submit" class="mt-3 w-100 btn-sub_style mb-2">RÉSERVER</button>
            {{ form_end(reservationForm) }}
        
        </div>
        <div class="col"></div>
    </div>  
</div>
<div class="row mt-3">
        <div class="col"></div>
        <div class="col text-center form-title_style text-danger">
            Attention, le nombre de place est 
            <span class="form-title_color danger">limité</span>
        </div>
        <div class="col"></div>
    </div>

</div>

{% endblock %}
