{% extends 'base.html.twig' %}

{% block title %}La brigade - Quai Antique{% endblock %}

{% block body %}
<section> 
    <div class="container border-top py-5 my-3 g-0 reveal">
    <h2 class="container-brig_title mb-3 text-primary"><span class="span-gal_letter text-primary">L</span>a brigade</h2>
        <div class="row text-primary">
            <div class="col-12 col-md-6 px-5 py-3 text-start col-brig_text col-brig_scroller mb-5">
            <strong>La brigade </strong>du Quai Antique a été finement choisi par le Chef Michant en personne.
            <br>
            <br>
            <p class="text-start reveal">- Le second de cuisine : <strong>Stéphane Montier</strong></p> 
            <p class="text-start reveal">
            Il faut bien une deuxième main pour faire le succès du <strong>Quai Antique </strong> et qui de mieux 
            que le fidèle second de cuisine du Chef, Stéphane Montier. 
            Il dirige d’une main de maître la cuisine comme un Chef d’orchestre. 
            Stéphane à les yeux partout et rien ne lui échappe. 
            Son perfectionnisme fait l’ADN de notre établissement.
            </p>
            <br>
            <p class="text-start reveal">-	Le Chef de partie poissonnier : <strong>Ahcène Flétan</strong></p>
            <p class="text-start reveal">
            Aider de ses fidèle commis, Ahcène Flétan est le maître des produits de la mer. 
            Du fait de sa finesse des filets finement taillé ou de son émulsion de langoustine. 
            Il sera vous apporter l’océan en haut des montagnes de Savoie.
            </p>
            <br>
            <p class="text-start reveal">-	Le Chef de partie spécialisé pain et fromage : <strong>Pavlo Savëenko</strong></p>
            <p class="text-start reveal">
            Comment peut-on être en Savoie et ne pas faire de spécialité de cette magnifique région ? 
            Heureusement le Chef Michant cache toujours au fond de son panier le secret de la réussite. 
            Qui de mieux que notre spécialiste Chef de partie pain et fromage que Pavlo Savëenko. 
            En contacte depuis des années avec le Chef Michant, Pavlo est obligé de fuir la guerre en 
            Ukraine. Dans son pays natal il avait deux restaurants avec des spécialités de fromages 
            Français et Italien. Par la force des choses et par la générosité du Chef Michant, 
            Pavlo Savëenko se voit obtenir une place spéciale au sein de la brigade.
            </p>
            <br>
            <p class="text-start reveal">- Le Chef pâtissier : <strong>Mathis Breux</strong></p>
            <p class="text-start reveal">
            Réputé pour son célèbre Crumble vanille-tonka, gel de citron yuzu. 
            Mathis Breux travail au côté du Chef Michant depuis 2008. 
            Leur étroite collaboration fait le succès de la touche finale pour les fins de repas.
            </p>
            <br>
            
            <p class="text-start reveal">-	La grillardine : <strong>Adélaïde Sena</strong></p>
            <p class="text-start reveal">
            À point ? Saignant ? ou bleu ? Adélaïde Sena n’est autre que la maîtresse des cuissons pour vos viandes 
            issues des pâturages voisine. Le Chef Michant a été séduit par son polychronisme à chaque service. 
            Aucune viande n’est restée sur grille si Adélaïde est au fourneau.
            </p>
            <br>
            <p class="text-start reveal">-	Les <strong>commis</strong>:</p>
            <p class="text-start reveal">
            Sans commis pas de cuisine ! C’est aussi simple que cela. 
            C’est pourquoi en plus des Chefs, une bonne brigade est avant tout un travail d’équipe et d’écoute. 
            Chaque commis est strictement sélectionné par tous nos Chefs afin d’assurer 
            l'excellence au sein du <strong>Quai Antique</strong>.
            </p>
            <br>
            <p class="text-start reveal">-	La directrice du restaurant : <strong>Angélique Darenne</strong></p>
            <p class="text-start reveal">
            Sans notre directrice Angélique Darenne, le lien entre la salle et la cuisine serait impossible. 
            Le Chef Michant a dû soulever terre et mer pour qu’elle puisse quitter Paris et le suivre à 
            Chambéry. Le professionnalisme d’Angélique sera vous mettre à vos aises une fois à table.
            </p>
            <br>
            <p class="text-start reveal">-	Le maître d'hotel : <strong>Alfred Dumilly</strong></p>
            <p class="text-start reveal">
            Vous ne pourrez venir au <strong>Quai Antique</strong> sans apercevoir le maître d’hôtel Alfred Dumilly. 
            Le Chef Michant tient particulièrement à ce que le maître d’hôtel soit la vitrine de la salle. 
            Une pointure dans son domaine, Alfred est là pour que votre voyage culinaire se passe au mieux.
            </p>
            <br>
            <p class="text-start reveal">-	Le Chef de rang : <strong>Augusto Hernandez</strong></p>
            <p class="text-start reveal">
            Notre Chef de rang Augusto Hernandez a été sélectionné par notre maître d’hôtel. 
            Il sera sublimer la salle tel qu’un horloger travaillant au microscope. 
            Tout est minutieusement ordonné comme le Chef aime.
            </p>
            <br>
            <p class="text-start reveal">-	Le sommelier : <strong>Alexandre Chameliard</strong></p>
            <p class="text-start reveal">
            Élu meilleur ouvrier de France en 2017, Alexandre Chameliard est un nez, une bouche et l’œil 
            pour l'accompagnement de vos plats. Pour être fidèle aux produits de Savoie. 
            Alexandre Chameliard vous suggèrera les meilleurs vins de la région. 
            </p>
            <br>
            <p class="text-start reveal">-	Le Bartender : <strong>Michaël Mongeot</strong></p>
            <p class="text-start reveal">
            En attendant vos mets, quoi de mieux que notre expert en cocktails, 
            Michaël Mongeot nous surprend toujours lorsqu’il s’agit de mélange. Avec ou sans, 
            frais ou chaud, le cocktail idéal est autant préparé avec passion que le café pour vos fins de repas.
            </p>
            </div>

            <div id="carouselExampleSlidesOnly" class="carousel slide col-12 col-md-6" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="{{ asset('build/images/Stephane-montier.png') }}" class="d-block w-100" alt="Second de cuisine Stéphane Montier">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carousel-brig_bg">
                            <h5 class="carousel-brig_text">Stéphane Montier</h5>
                            <p class="carousel-brig_fonction">Second de cuisine</p>
                         </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                    <img src="{{ asset('build/images/Ahcene-fletan.png') }}" class="d-block w-100" alt="Chef de partie poissionnier Ahcene Fletan">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carousel-brig_bg">
                            <h5 class="carousel-brig_text">Ahcène FLÉTAN</h5>
                            <p class="carousel-brig_fonction">Chef de partie poissonnier</p>
                        </div>
                        </div>
                    </div>
                     <div class="carousel-item">
                    <img src="{{ asset('build/images/pavlo-Savëenko.png') }}" class="d-block w-100" alt="Chef de partie Spécialisé pain et fromage Pavlo Savëenko">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carousel-brig_bg">
                            <h5 class="carousel-brig_text">Pavlo Savëenko</h5>
                            <p class="carousel-brig_fonction">Chef de partie Spécialisé pain et fromage</p>
                        </div>
                        </div>
                    </div>
                     <div class="carousel-item">
                    <img src="{{ asset('build/images/Mathis-breux.png') }}" class="d-block w-100" alt="Chef pâtissier Mathis Breux">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carousel-brig_bg">
                            <h5 class="carousel-brig_text">Mathis BREUX</h5>
                            <p class="carousel-brig_fonction">Chef pâtissier</p>
                         </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                    <img src="{{ asset('build/images/Adelaide-sena.png') }}" class="d-block w-100" alt="Grillardine Adelaide Sena">
                        <div class="carousel-caption d-none d-md-block">
                        <div class="carousel-brig_bg">
                            <h5 class="carousel-brig_text">Adélaïde SENA</h5>
                            <p class="carousel-brig_fonction">Grillardine</p>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                    <img src="{{ asset('build/images/Angelique-darenne.png') }}" class="d-block w-100" alt="Directrice du restaurant Angélique Darenne">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carousel-brig_bg">
                            <h5 class="carousel-brig_text">Angélique Darenne</h5>
                            <p class="carousel-brig_fonction">Directrice du restaurant</p>
                         </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                    <img src="{{ asset('build/images/Alfred-Dumilly.png') }}" class="d-block w-100" alt="Maître d'hôtel Alfred Dumilly">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carousel-brig_bg">
                            <h5 class="carousel-brig_text">Alfred Dumilly</h5>
                            <p class="carousel-brig_fonction">Maître d'hôtel</p>
                         </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                    <img src="{{ asset('build/images/Augusto-hernandez.png') }}" class="d-block w-100" alt="Chef de rang Augusto Hernandez">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carousel-brig_bg">
                            <h5 class="carousel-brig_text">Augusto Hernandez</h5>
                            <p class="carousel-brig_fonction">Chef de rang</p>
                         </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                    <img src="{{ asset('build/images/Alexandre-chameliard-sommelier.png') }}" class="d-block w-100" alt="Sommelier Alexandre Chameliard">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carousel-brig_bg">
                            <h5 class="carousel-brig_text">Alexandre Chameliard</h5>
                            <p class="carousel-brig_fonction">Sommelier</p>
                         </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                    <img src="{{ asset('build/images/Michael-Mongeot.png') }}" class="d-block w-100" alt="Bartender Michaël Mongeot">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carousel-brig_bg">
                            <h5 class="carousel-brig_text">Michaël Mongeot</h5>
                            <p class="carousel-brig_fonction">Bartender</p>
                         </div>
                        </div>
                    </div>
                </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
            </div>
        </div>
    </div>
    </div>
        <div class="container text-center">
        <div class="row">
            <div class="col">
            <a href="{{path('app_chef')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-left text-secondary" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>
                </a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
            <a href="{{path('app_brigades')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-up text-secondary" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
                <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>
                </a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col ">
                <a href="{{ path('app_galeries')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-right text-secondary" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col text-back_style text-primary">Pour revenir à la page d'accueil, cliquez sur le logo en pied ou en haut de page du <span class="text-back_home text-secondary">Quai Antique<span></div>
    </div>
</section>
{% endblock %}
